body{
    height: 100%;
    margin:20px;
    background-color:rgb(0, 1, 2);
    margin-top: 200px;
}
.card{
    display: flex;
    border: 1px solid gold;
    background-color: rgb(0, 0, 0);
    color:rgb(196, 194, 194);
    width: 530px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin:0 auto;
    justify-content: space-around;
    text-align: center;
    }
    
.picture{
    width: 150px;
    margin-right: 30px;
    border-radius: 8px;
    
}

