body{
    height: 100%;
    margin:20px;
    background-color:rgb(50, 52, 54);
    margin-top: 200px;
}
.card{
    display: flex;
    border: 1px solid gold;
    background-color: rgb(5, 3, 3);
    color:rgb(196, 194, 194);
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.picture{
    width: 150px;
    margin-right: 30px;
    border-radius: 8px;
    
}
.cardContent{
    text-align: center;
}
